generated-by = makedeb-makepkg

pkgbase = betterbird-bin
	pkgdesc = Betterbird is a fine-tuned version of Mozilla Thunderbird, Thunderbird on steroids, if you will.
	pkgver = 91.6.0
	pkgrel = 1
	url = https://www.betterbird.eu/index.html
	arch = x86_64
	license = MPL2
	provides = betterbird
	conflicts = betterbird
	source = https://www.betterbird.eu/downloads/LinuxArchive/betterbird-91.6.0-bb26.en-US.linux-x86_64.tar.bz2
	source = betterbird.desktop
	source = betterbird.svg
	sha256sums = 2bd772aa07101abe5bd67185c7ece6070f8c1ecced877e8c188ebc411df1391d
	sha256sums = 524ac695701d59f7442fe7b1aac4ccbb9f45397f8c9bb1af2582c4aba9cf3255
	sha256sums = f9c696b4a4f8bb57f2caa8b2801c4f9b4e493c1c29b2fdf2945d5805364bc843

pkgname = betterbird-bin
